{% extends "layout.html.twig" %}

{% block content %}
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Cadre</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Cadre</span>
                        <hr class="star-light">
                        <span class="skills">Reusable PHP Packages</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Packages Grid Section -->
    <section id="packages">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Packages</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Project Lead</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="https://github.com/cadrephp/AtlasOrm.DebugBar.Bridge">AtlasOrm.DebugBar.Bridge</a></td>
                                <td>Library to use PHP DebugBar with Atlas ORM</td>
                                <td><a href="https://github.com/andrewshell">Andrew Shell</a></td>
                            </tr>
                            <tr>
                                <td><a href="https://github.com/cadrephp/Cadre.CliAdr">Cadre.CliAdr</a></td>
                                <td>Command line ADR implementation</td>
                                <td><a href="https://github.com/andrewshell">Andrew Shell</a></td>
                            </tr>
                            <tr>
                                <td><a href="https://github.com/cadrephp/Cadre.Module">Cadre.Module</a></td>
                                <td>Module system based on Aura.Di</td>
                                <td><a href="https://github.com/andrewshell">Andrew Shell</a></td>
                            </tr>
                            <tr>
                                <td><a href="https://github.com/cadrephp/Cadre.Package">Cadre.Package</a></td>
                                <td>This is a package skeleton for me to use when starting new Cadre packages.</td>
                                <td><a href="https://github.com/andrewshell">Andrew Shell</a></td>
                            </tr>
                            <tr>
                                <td><a href="https://github.com/cadrephp/Cadre.Project">Cadre.Project</a></td>
                                <td>This is a project skeleton for me to use when starting new projects.</td>
                                <td><a href="https://github.com/andrewshell">Andrew Shell</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p><a href="http://www.madeofmadison.com/" rel="nofollow"><img src="/img/mom50px100o.png" alt="Made of Madison"></a></p>
                        <p>Made in Madison, WI</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.futureproofphp.com/" class="btn-social btn-outline" rel="nofollow"><i class="fa fa-fw fa-wordpress"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/futureproofcode/" class="btn-social btn-outline" rel="nofollow"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/cadrephp" class="btn-social btn-outline" rel="nofollow"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/futureproofphp/" class="btn-social btn-outline" rel="nofollow"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About</h3>
                        <p>Cadre packages are reusable PHP packages created by Andrew Shell. As I'm working on my projects I extract reusable libraries and typically blog about them on my site <a href="https://www.futureproofphp.com/">FutureProof PHP</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Andrew Shell {{ "now"|date("Y") }}. Website design by <a href="https://startbootstrap.com/template-overviews/freelancer/" rel="nofollow">Start Bootstrap</a>.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

{% endblock content %}
